@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

 body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(95, 113, 97);
}

.hidden {
    display: none;
}


/* EMPIEZA EL CSS DEL SIGN */

h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.iniciarSesion {
    background-color: rgb(234, 227, 217);
}

.registrarse {
    background-color: rgb(234, 227, 217);
}

.sFilaInput {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.formSign {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divSesionInput {
    display: flex;
    flex-direction: column;
}

.labelSign {
    margin: 0 5px 5px 6px;
    color: rgb(95, 113, 97);
}

.sInput {
    padding: 8px 68px 8px 13px;
    border:none;
    border-radius: 7px;
}

.sBoton {

}

.aSign {
    transition: 0.3s;
}

.aSign:hover {
    color: blue;
}

