@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');


/* EMPIEZA EL CSS DEL SIGN */
 body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(95, 113, 97);
}

.hidden {
    display: none;
}

.sSection {
    background-color: rgb(234, 227, 217);
    max-width: 740px;
    padding: 65px 0;
    margin: 50px auto;
    border-radius: 20px;
}


h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    color: rgb(95, 113, 97);
}

.sFilaInput {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.sColumnaInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.formSign {
    display: flex;
    justify-content: center;
}

.divFormSign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divFormRegis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gridClass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.divSesionInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.labelSign {
    margin: 0 5px 5px 6px;
    color: rgb(95, 113, 97);
}

.sInput {
    padding: 8px 68px 8px 13px;
    border:none;
    border-radius: 7px;
    min-width: 170px;
    max-width: 170px;
}

.sDivButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sBoton {
    margin: 20px;
    padding: 7px 50px;
    border: solid rgb(95, 113, 97) 3px;
    border-radius: 10px;
    background-color: rgb(109, 139, 116);
    color: rgb(234, 227, 217);
}

.aSign {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.aSign:hover {
    color: blue;
}

